footer{
  margin-top: 16%;
  margin-left: 2%;
}
header img{
 width: 12%;
 margin-right: 2%;
 margin-left: 2%;
}
header .navbar{
  border: 0;
  margin: 0;
  padding: 0;

}
header nav div{  
  height: 50px;
background-color: #9ABFE0;  
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}